@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>These quotes taken from 
        <a href="https://www.imdb.com/list/ls054689899/" target="_blank">
            Top 100 Greatest Movie Quotes of All Time (The Ultimate List)
        </a>.
    </p>
</div>
