@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use <a href="https://termify.io/privacy-policy-generator?msclkid=27f6aa268c74179db212c9e06b75bd48&utm_source=bing&utm_medium=cpc&utm_campaign=Termify&utm_term=privacy%20policies%20generator&utm_content=Privacy%20Policy" target="_blank">
    this page</a> to detail your site's privacy policy.</p>
